<template>
  <div>
    <h1>Create Event</h1>
    <BaseButton>SAVE RM {{ price }}</BaseButton>
  </div>
</template>

<script>
export default {
  data() {
    return {
      price: 12.5,
    }
  },
}
</script>

<style scoped></style>
