<template>
  <div class="user">
    <h1>This is a {{ $route.params.username }} page - querystr</h1>
    <h1>This is a {{ username }} page - prop</h1>
  </div>
</template>

<script>
export default {
  props: {
    username: {
      type: String,
    },
  },
}
</script>
